<div class="homepage">

  <h1>La réponse de l'univers est proche...</h1>
  <h2>Si tu est prêt à la découvrir clique <a href ="/secret"> ICI</a>.</h2>

  <div class = center>
  	<p> Attention, c'est réellement boulversifiant, si tu n'est pas prêt, va plutôt voir quelques photos de chatons <a href = "http://formulaire-thp.herokuapp.com/">ici</a></p>
  	<%= image_tag("psyche.jpg")%>
  </div>
</div>
