<div class="showtext">
  <h1>Page utilisateur de <%= @user.username %></h1>
  <div class = center>
  <br/>
  <p>Username : <strong><%= @user.username %></strong></p><br>
  <p>Email renseigné : <strong><%= @user.email %></strong></p>
  <br/><br/>
  <p id = 'sijamais'>
    Si jamais tu es <%= @user.username %> et que tu viens de te rendre compte que ton blaze est tout pourri ou que ton email est digne d'un enfant de 5 ans, il te suffit de cliquer sur 'Editer' dans le menu déroulant de ton compte...
  </p>
  </div>
</div>
